<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <!--
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">練習メニュー作成ツール</span>
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="{% url 'PMapp:RaceInfo' %}" class="nav-link active" aria-current="page">大会入力フォーム</a></li>
          <li class="nav-item"><a href="{% url 'PMapp:Race_list' %}" class="nav-link">大会一覧</a></li>
          <li class="nav-item"><a href="{% url 'PMapp:MenuInfo' %}" class="nav-link active" aria-current="page">練習入力フォーム</a></li>
          <li class="nav-item"><a href="{% url 'PMapp:Menu_list' %}" class="nav-link">練習一覧</a></li>
          <li class="nav-item"><a href="{% url 'PMapp:Calcurate_Cal' %}" class="nav-link">カロリー計算ツール</a></li>
        </ul>
      </header>
    </div>
    -->
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'PMapp:Home' %}">練習メニュー作成ツール</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav me-auto mb-2">
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'PMapp:Login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PMapp:Signup' %}">Sign up</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'PMapp:Logout' %}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'PMapp:My_page' user.pk %}">My page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PMapp:RaceInfo' %}">大会入力フォーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PMapp:Race_list' %}">大会一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PMapp:MenuInfo' %}" tabindex="-1" aria-disabled="true">練習入力フォーム</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PMapp:Menu_list' %}">練習一覧</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'PMapp:Calcurate_Cal' %}">カロリー計算ツール</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="pl-4 small" style="background-color: #e2e3e5 ; border-bottom: solid 1px #f3f3f3;">
      {% if not user.is_authenticated %}
        こんにちは！ ゲスト さん
      {% else %}
        こんにちは！ {{ user.username }} さん
      {% endif %}
    </div>
    <div class="b-example-divider"></div>

    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>