{% extends 'PMapp/base.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5" align="center">
      <h1 class="display-5 fw-bold">練習メニュー作成ツール</h1>
      <p class="col-md-8 fs-4">
        使用言語はPythonのDjangoフレームワークです。<br>
        機能としては 、大会、練習メニューをフォームでサーバー側に送り、一覧を表示させる機能と、詳細を表示させる機能があります。またカロリーの計算ツールを入れたことで練習の強度を確かめることもできます。<br>
        これからも機能を増やしていくつもりです。 </p>
        
      <a href="{% url 'PMapp:Login' %}" type="button" class="btn btn-primary btn-lg">Let's start!</a>
    </div>
  </div>

{% endblock content %}